// Dilemma Max Keymap

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// Override default scroll speed: 100 * 16ms/1000 = 1.6 units/tick (>= 1 required)
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            // tap-ms must be > trigger-period-ms (16ms) so the msc tick fires at least once
            tap-ms = <25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Deutsches QWERTZ-Layout (OS auf Deutsch eingestellt)
            // ┌─────┬───┬───┬───┬───┬───┐   ┌───┬───┬───┬───┬───┬─────┐
            // │ ESC │ 1 │ 2 │ 3 │ 4 │ 5 │   │ 6 │ 7 │ 8 │ 9 │ 0 │ ß/?│
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │ TAB │ Q │ W │ E │ R │ T │   │ Z │ U │ I │ O │ P │  Ü  │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │LSFT │ A │ S │ D │ F │ G │   │ H │ J │ K │ L │ Ö │  Ä  │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │LCTL │ Y │ X │ C │ V │ B │   │ N │ M │ , │ . │ - │  #  │
            // └─────┴───┼───┼───┼───┼───┤   ├───┼───┼───┼───┴───┴─────┘
            //           │MUT│ALT│GUI│MO1│   │BSP│SPC│RET│C_PP│
            //           └───┴───┴───┴───┘   └───┴───┴───┴────┘
            // Hinweis: Z/Y und Ö/Ä/Ü werden vom deutschen OS-Layout korrekt interpretiert
            // SEMI → Ö, SQT → Ä, LBKT → Ü (per deutschem HID-Mapping)
            bindings = <
                &kp ESC    &kp N1  &kp N2  &kp N3    &kp N4   &kp N5               &kp N6   &kp N7   &kp N8     &kp N9   &kp N0    &mmv MOVE_X(500)
                &kp TAB    &kp Q   &kp W   &kp E     &kp R    &kp T                &kp Y    &kp U    &kp I      &kp O    &kp P     &kp LBKT
                &kp LSHFT  &kp A   &kp S   &kp D     &kp F    &kp G                &kp H    &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
                &kp LCTRL  &kp Z   &kp X   &kp C     &kp V    &kp B                &kp N    &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                                  &kp C_MUTE &kp LALT &kp LGUI &mo 1      &kp BSPC &kp SPACE &kp RET &kp C_PP
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_encoder SCRL_DOWN SCRL_UP>;
        };

        nav_layer {
            // ┌─────┬───┬───┬───┬───┬───┐   ┌───┬───┬───┬───┬───┬─────┐
            // │     │BT0│BT1│BT2│BT3│BT4│   │   │   │   │   │   │     │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │     │   │   │   │   │   │   │   │   │ ↑ │   │ + │     │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │     │   │   │FN │MIS│ > │   │   │ ← │ ↓ │ → │   │     │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │     │   │   │   │   │ < │   │TOG│BRI│BRD│EFF│HUI│ HUD │
            // └─────┴───┼───┼───┼───┼───┤   ├───┼───┼───┼───┴───┴─────┘
            //           │   │   │   │   │   │   │   │   │
            //           └───┴───┴───┴───┘   └───┴───┴───┴───┘
            // BT0-4 = Bluetooth Profile 0-4
            // FN    = Globe/Fn-Taste (Diktat)
            // MIS   = Mission Control (C_AC_DESKTOP_SHOW_ALL_WINDOWS)
            // TOG   = RGB Toggle, BRI/BRD = Helligkeit, EFF = Effekt, HUI/HUD = Farbe
            bindings = <
                &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2        &bt BT_SEL 3                        &bt BT_SEL 4  &trans  &trans    &trans    &trans     &trans  &trans
                &trans      &trans        &trans        &trans               &trans                              &trans        &trans  &trans    &kp UP   &trans     &kp RBKT  &trans
                &trans      &trans        &trans        &kp GLOBE            &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS   &kp LS(NUBS)  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
                &trans      &trans        &trans        &trans               &trans                              &kp NUBS  &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD
                            &trans        &trans        &trans               &trans                              &trans        &trans  &trans    &trans
            >;

            // Left encoder: volume | Right encoder: horizontal scroll (Maussimulation)
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_encoder SCRL_LEFT SCRL_RIGHT>;
        };
    };
};
