// Dilemma Max - Right Side

#include "dilemma_max.dtsi"

&default_transform {
    col-offset = <6>;
};

&right_encoder {
    status = "okay";
};

// Cirque/Procyon Trackpad via SPI
// Note: Enable CONFIG_ZMK_POINTING in .conf to use
&pro_micro_spi {
    status = "okay";
    cs-gpios = <&pro_micro 9 GPIO_ACTIVE_LOW>;

    trackpad: trackpad@0 {
        compatible = "cirque,pinnacle";
        reg = <0>;
        spi-max-frequency = <1000000>;
        status = "okay";
        sensitivity = "4x";
        sleep;
    };
};

/ {
    trackpad_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
    };
};
