// Dilemma Max Keymap

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hscroll_encoder: hscroll_encoder {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ┌─────┬───┬───┬───┬───┬───┐   ┌───┬───┬───┬───┬───┬─────┐
            // │ ESC │ 1 │ 2 │ 3 │ 4 │ 5 │   │ 6 │ 7 │ 8 │ 9 │ 0 │  =  │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │ TAB │ Q │ W │ E │ R │ T │   │ Y │ U │ I │ O │ P │  -  │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │LSFT │ A │ S │ D │ F │ G │   │ H │ J │ K │ L │ ; │  '  │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │LCTL │ Z │ X │ C │ V │ B │   │ N │ M │ , │ . │ / │  \  │
            // └─────┴───┴───┼───┼───┼───┤   ├───┼───┼───┼───┴───┴─────┘
            //               │MUT│ALT│GUI│   │BSP│SPC│RET│
            //               └───┴───┴MO1┘   └───┴───┴───┘
            bindings = <
                &kp ESC    &kp N1  &kp N2  &kp N3    &kp N4   &kp N5               &kp N6   &kp N7   &kp N8     &kp N9   &kp N0    &kp EQUAL
                &kp TAB    &kp Q   &kp W   &kp E     &kp R    &kp T                &kp Y    &kp U    &kp I      &kp O    &kp P     &kp MINUS
                &kp LSHFT  &kp A   &kp S   &kp D     &kp F    &kp G                &kp H    &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
                &kp LCTRL  &kp Z   &kp X   &kp C     &kp V    &kp B                &kp N    &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                                  &kp C_MUTE &kp LALT &kp LGUI &mo 1      &kp BSPC &kp SPACE &kp RET &kp C_PP
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_AC_SCROLL_DOWN C_AC_SCROLL_UP>;
        };

        nav_layer {
            // ┌─────┬───┬───┬───┬───┬───┐   ┌───┬───┬───┬───┬───┬─────┐
            // │     │   │   │   │   │   │   │   │   │   │   │   │     │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │     │   │   │   │   │   │   │   │   │ ↑ │   │   │     │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │     │   │   │DKT│MIS│   │   │   │ ← │ ↓ │ → │   │     │
            // ├─────┼───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┼─────┤
            // │     │   │   │   │   │   │   │   │   │   │   │   │     │
            // └─────┴───┴───┼───┼───┼───┤   ├───┼───┼───┼───┴───┴─────┘
            //               │P/P│   │   │   │   │   │   │
            //               └───┴───┴───┘   └───┴───┴───┘
            // DKT = Diktat (C_VOICE_COMMAND)
            // MIS = Mission Control (C_AC_DESKTOP_SHOW_ALL_WINDOWS)
            // P/P = Play/Pause (linker Encoder-Klick im NAV-Layer)
            bindings = <
                &trans      &trans  &trans  &trans                           &trans                              &trans    &trans  &trans    &trans    &trans     &trans  &trans
                &trans      &trans  &trans  &trans                           &trans                              &trans    &trans  &trans    &kp UP    &trans     &trans  &trans
                &trans      &trans  &trans  &kp C_VOICE_COMMAND              &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS   &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
                &trans      &trans  &trans  &trans                           &trans                              &trans    &trans  &trans    &trans    &trans     &trans  &trans
                            &kp C_PP &trans  &trans                           &trans                              &trans    &trans  &trans    &trans
            >;

            // Left encoder: volume | Right encoder: horizontal scroll (Maussimulation)
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &hscroll_encoder SCRL_LEFT SCRL_RIGHT>;
        };
    };
};
